<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container" style="padding-top: 60px;">
    <h3>Example Custom Validators</h3>
    <br>
    <div class="row">
        <div class="col-md-5">
            <form [formGroup]="registerForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text"
                           id="username"
                           class="form-control"
                           formControlName="username">
                    <span class="help-block"
                          *ngIf="!registerForm.get('username').valid
                          && registerForm.get('username').touched">Please enter a valid Username!</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                           id="password"
                           class="form-control"
                           formControlName="password">
                </div>
                <button
                        class="btn btn-primary"
                        type="submit">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> ลงทะเบียน
                </button>
            </form>
        </div>
    </div>
    <hr>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">Tutorial By bamossza</p>
    </div>
</footer>